.place__price {
  margin: 0;
  margin-top: 25px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px; /* identical to
    box height, or 144% */
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .place__price {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width: 320px) {
  .place__price {
    width: 288px;
    margin: 25px auto 0;
  }
}
