.header__links {
  margin: 0;
  padding: 0;
  margin-top: 34px;
  display: flex;
  list-style: none;
}
.header__links-en {
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.75;
}
.header__links-en:hover {
  opacity: 0.8;
}
.header__links-es {
  margin: 0;
  margin-top: 46px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.75;
}
.header__links-es:hover {
  opacity: 0.8;
}
@media screen and (max-width: 320px) {
  .header__links-en {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    text-align: right;
    text-decoration-line: underline;
  }
}
@media screen and (max-width: 320px) {
  .header__links-es {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    text-align: right;
  }
}
