.lead {
  max-width: 984px;
  margin: auto;
}
@media screen and (max-width: 1280px) {
  .lead {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    min-width: 320px;
  }
}
