.intro__container {
  margin: 0;
  max-width: 690px;
  margin-left: 148px;
}
@media screen and (max-width: 1024px) {
  .intro__container {
    max-width: 720px;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .intro__container {
    max-width: calc(100% - 16px * 2);
  }
}
