.place__paragraph {
  margin: 0;
  margin-bottom: 25px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%; /* or 29px */
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .place__paragraph {
    width: 288px;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
  }
}
