.footer__copyright {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .footer__copyright {
    text-align: start;
    line-height: 14px;
    width: 165px;
  }
}
