.intro__title {
  margin: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin-top: 92px;
  /* or 107% */
  color: #ffffff;
}
@media screen and (max-width: 680px) {
  .intro__title {
    min-width: 288px;
    font-size: 32px;
    margin: 64px 0 0 16px;
    line-height: 35px;
    /* or 109% */
  }
}
